<h1>Su carrito</h1>

{{#if plainCart}}
  <table class="table">
    <thead>
      <tr>

        <th scope="col">Titulo</th>
        <th scope="col">Precio</th>
        <th scope="col">Cantidad</th>
      </tr>
    </thead>
    <tbody>

      {{#each plainCart}}
        <tr>

          <td>{{this.product.title}}</td>
          <td>${{this.product.price}}</td>
          <td>{{this.quantity}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <a class="btn btn-primary" href="/api/carts/{{cid}}/purchase">Realizar compra</a>
{{else}}
  <h1>Su carrito esta vacio</h1>
{{/if}}