<!--IMPRIMIR LA LISTA DE PRODUCTOS HASTA EL MOMENTO-->

<div class="products-container">
  <h1>Productos en stock</h1>

  {{#each cleanProducts}}
    <div id={{this.id}} class="card">

      <div>Nombre: {{this.title}}</div>
      <div>Descripcion: {{this.description}}</div>
      <div>Precio: ${{this.price}}</div>
      <div>Imagen: {{this.thumbnail}}</div>
      <div>Codigo: {{this.code}}</div>
      <div>Stock: {{this.stock}}</div>
    </div>
  {{/each}}

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>