<div class="products-container">
  <h1>Detalle del producto</h1>

  {{#if findProduct}}
    {{#with findProduct}}
      <div id={{id}} class="card">

        <div>Nombre: {{title}}</div>
        <div>Descripcion:{{description}}</div>
        <div>Precio: ${{price}}</div>
        <div>Imagen: {{thumbnail}}</div>
        <div>Codigo: {{code}}</div>
        <div>Stock: {{stock}}</div>
        <div>Category: {{category}}</div>

      </div>
      <a><button type="submit" class="btn btn-primary">Agregar al carrito</button></a>

    {{/with}}

  {{else}}
    <p>El producto no existe o no se encontró.</p>
  {{/if}}

</div>