<div class="products-container">
  <h1>Detalle del producto</h1>

  {{#if plainProduct}}

    <div id="card-product" class="card">

      <div>Nombre: {{plainProduct.title}}</div>
      <div>Descripcion:{{plainProduct.description}}</div>
      <div>Precio: ${{plainProduct.price}}</div>
      <div>Imagen: {{plainProduct.thumbnail}}</div>
      <div>Codigo: {{plainProduct.code}}</div>
      <div>Stock: {{plainProduct.stock}} </div>
      <div>Category: {{plainProduct.category}}</div>

    </div>
    <button
      id="add-to-cart"
      type="submit"
      data-pid="{{plainProduct._id}}"
      data-cid="{{plainProduct.cid}}"
      class="btn btn-primary"
    >Agregar al carrito</button>

  {{else}}
    <p>El producto no existe o no se encontró.</p>
  {{/if}}

</div>

<script src="/js/addProductToCart.js"></script>