<div class="section-1">

  <div class="container-list">
    <h1>Listado de productos en tiempo real</h1>
    <div id="validationCustom07" class="products-container-websocket">

      {{#each products}}
        <div class="card">
          <div>Id: {{this.id}}</div>
          <div>Nombre: {{this.title}}</div>
          <div>Descripcion: {{this.description}}</div>
          <div>Precio: ${{this.price}}</div>
          <div>Imagen: {{this.thumbnail}}</div>
          <div>Codigo: {{this.code}}</div>
          <div>Stock: {{this.stock}}</div>
        </div>

      {{/each}}

    </div>
  </div>

  <div class="formulaio-container">
    <h1>Añadir nuevo producto</h1>
    <div>
      <form id="form-products">
        <input
          type="text"
          class="form-control"
          id="validationCustom01"
          placeholder="Nombre"
          name="title"
          required
        />
        <input
          type="text"
          class="form-control"
          id="validationCustom02"
          placeholder="Descripcion"
          name="description"
          required
        />
        <input
          type="text"
          class="form-control"
          id="validationCustom03"
          placeholder="Precio"
          name="price"
          required
        />
        <input
          type="text"
          class="form-control"
          id="validationCustom04"
          placeholder="Imagen"
          name="thumbnail"
          required
        />
        <input
          type="text"
          class="form-control"
          id="validationCustom05"
          placeholder="Codigo"
          name="code"
          required
        />
        <input
          type="text"
          class="form-control"
          id="validationCustom06"
          placeholder="Stock"
          name="stock"
          required
        />
        <button type="submit" class="btn btn-primary">Agregar</button>
      </form>

    </div>

  </div></div>

<!--<h1>Hola,{{user.name}}</h1>
{{#if isAdmin}}
  {{#each food}}
    <div>
      <p>{{this.name}}</p>
      <p>{{this.price}}</p>
    </div>
  {{/each}}
{{else}}
  <p>no tiene permisos</p>
{{/if}}-->

<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>